.btn-primary{
    background-color: #FACC15;
    text-align: center;
    color: #15803D;
    border-radius: 100px;
    max-width: fit-content;
    max-height: fit-content;
    font-size:xx-small;
    font-size: medium;
    
}

.active{
    background-color: #15803D;
    color: white;
}